spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/bookstore_api
        username: root
        password: root
    jpa:
      hibernate:
        ddl-auto: validate

logging:
  level:
    br.com.bookstore: DEBUG
    org.springframework: INFO
    com.zaxxer.hikari: INFO